{% extends "base.html" %}

{% block title %}Edit Product{% endblock %}

{% block content %}
    <h2>Edit Product: {{ product.name }}</h2>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div>
            {{ form.name.label }}<br>
            {{ form.name(size=32) }}
        </div>
        <div>
            {{ form.description.label }}<br>
            {{ form.description(cols=50, rows=10) }}
        </div>
        <div>
            {{ form.price.label }}<br>
            {{ form.price(size=16) }}
        </div>
        <div>
            {{ form.submit() }}
        </div>
    </form>
{% endblock %}
